@model ProductPageVM
@section css {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

@section js {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/shop.js"></script>
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Shop</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Fresh fruits shop</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <form method="get" asp-controller="Shop" asp-action="Index" enctype="multipart/form-data" class="input-group w-100 mx-auto d-flex">
                            <input class="form-control p-3" name="searchText" placeholder="Search...">
                            <button type="submit" class="input-group-text p-3"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-center mb-4">
                            <div class="m-0 rounded-0 d-flex flex-column align-items-center fs-6">
                                <a asp-action="Index" asp-controller="Shop" asp-route-sortType="AtoZ">Sort A-Z</a>
                                <a asp-action="Index" asp-controller="Shop" asp-route-sortType="ZtoA">Sort Z-A</a>
                                <a asp-action="Index" asp-controller="Shop" asp-route-sortType="LtoH">Sort price low to high</a>
                                <a asp-action="Index" asp-controller="Shop" asp-route-sortType="HtoL">Sort price high to low</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Categories</h4>
                                    <ul class="list-unstyled fruite-categorie">
                                        @foreach (var item in Model.Categories)
                                        {
                                            <li>
                                                <div class="d-flex justify-content-between fruite-name">
                                                    <a asp-route-categoryId = "@item.Id" asp-action="Index" asp-controller="Shop"><i class="fas fa-apple-alt me-2"></i>@item.Name</a>
                                                    <span>(@item.Products.Count)</span>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Price</h4>
                                    <form method="get" asp-controller="Shop" asp-action="Index" enctype="multipart/form-data" class="input-group w-100 mx-auto d-flex">
                                        <input type="range" name="price" class="form-range w-100 price-range" id="rangeInput" min="0" max="50" value="0" oninput="amount.value=rangeInput.value">
                                        <output id="amount" min-velue="0" max-value="50" for="rangeInput">0</output>
                                        <button type="submit" class="search-btn btn btn-primary border-2 border-secondary px-4 position-absolute rounded-pill text-white h-100" style="top: 30px; right: 0;">Filter</button>
                                    </form>
                                </div>
                            </div>
                            @*                             <div class="col-lg-12">
                            <div class="mb-3">
                            <h4>Additional</h4>
                            <div class="mb-2">
                            <input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
                            <label for="Categories-1"> Organic</label>
                            </div>
                            <div class="mb-2">
                            <input type="radio" class="me-2" id="Categories-2" name="Categories-1" value="Beverages">
                            <label for="Categories-2"> Fresh</label>
                            </div>
                            <div class="mb-2">
                            <input type="radio" class="me-2" id="Categories-3" name="Categories-1" value="Beverages">
                            <label for="Categories-3"> Sales</label>
                            </div>
                            <div class="mb-2">
                            <input type="radio" class="me-2" id="Categories-4" name="Categories-1" value="Beverages">
                            <label for="Categories-4"> Discount</label>
                            </div>
                            <div class="mb-2">
                            <input type="radio" class="me-2" id="Categories-5" name="Categories-1" value="Beverages">
                            <label for="Categories-5"> Expired</label>
                            </div>
                            </div>
                            </div> *@
                            <div class="col-lg-12">
                                <h4 class="mb-3">Featured products</h4>
                                @foreach (var item in Model.Products.Take(3))
                                {
                                    <div class="d-flex align-items-center justify-content-start mb-3">
                                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                                            <img src="~/img/@item.ProductImages.FirstOrDefault(m=>m.IsMain).Image" class="img-fluid rounded" alt="">
                                        </div>
                                        <div>
                                            <h6 class="mb-2">@item.Name</h6>
                                            <div class="d-flex mb-2">
                                                @for (int i = 0; i < item.RatingCount; i++)
                                                {
                                                    <i class="fa fa-star text-secondary"></i>
                                                }
                                            </div>
                                            <div class="d-flex mb-2">
                                                <h5 class="fw-bold me-2">@item.Price$</h5>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="d-flex justify-content-center my-4">
                                    <a class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">View More</a>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="~/img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                    <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                            @if (Model.Pagination.Datas.Count == 0)
                            {
                                <div class="alert alert-info text-center w-50" role="alert">
                                    Products not found
                                </div>
                            }
                            else
                            {
                                @foreach (var item in Model.Pagination.Datas)
                                {
                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <div class="rounded position-relative fruite-item overflow-hidden">
                                            <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id" class="fruite-img">
                                                <img src="~/img/@item.ProductImages.FirstOrDefault(m=>m.IsMain).Image" class="img-fluid w-100 rounded-top" alt="">
                                            </a>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.Category.Name</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <a class="text-black fs-3 text-dark" asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">@item.Name</a>
                                                <p>@item.Description</p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">$@item.Price / kg</p>
                                                    <a data-id="@item.Id" class="btn border border-secondary rounded-pill px-3 text-primary add-product-basket"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="col-12">
                                    <div class="paginate-area d-flex justify-content-center">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination d-flex">
                                                <li class="page-item @(Model.Pagination.HasPrevious ? "" : "disabled")">
                                                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.Pagination.CurrentPage - 1)">Previous</a>
                                                </li>
                                                @for (int i = 1; i <= Model.Pagination.TotalPage; i++)
                                                {
                                                    <li class="page-item @(i == Model.Pagination.CurrentPage ? "disabled" : "")"><a class="page-link @(i == Model.Pagination.CurrentPage ? "paginate-active" : "")" asp-action="Index" asp-route-page="@i">@i</a></li>
                                                }
                                                <li class="page-item  @(Model.Pagination.HasNext ? "" : "disabled")">
                                                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.Pagination.CurrentPage+1)">Next</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    @* <div class="pagination d-flex justify-content-center mt-5">
                                <a class="rounded" asp-action="Index" asp-route-page="@(Model.Pagination.CurrentPage - 1)">&laquo;</a>
                                @for (int i = 1; i <= Model.Pagination.TotalPage; i++)
                                {
                                <a class="@(i == Model.Pagination.CurrentPage ? "active" : "") rounded" asp-action="Index" asp-route-page="@i">@i</a>
                                }
                                <a class="rounded" asp-action="Index" asp-route-page="@(Model.Pagination.CurrentPage + 1)">&raquo;</a>
                                </div> *@
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
